.button {
    position: relative;
    display: flex;
    justify-content: center;
    padding: toRem(8) toRem(16);
    border: none;
    background: var(--primary-color);
    cursor: pointer;
    color: var(--white);
    font-weight: 800;
    border-radius: $smallRadius;
    transition: 0.3s;
    &:disabled {
        background: var(--light-grey);
        border: toRem(2) solid var(--grey);
        color: var(--black);
        &:hover {
            background: var(--grey);
        }
    }

    .loader {
        display: flex;
        justify-content: center;
        height: toRem(14);
        transition: 0.3s;
        &::after {
            content: '';
            position: absolute;
            height: toRem(15);
            width: toRem(15);
            border: toRem(3) solid var(--dark-grey);
            border-top-color: var(--white);
            border-radius: 100%;
            animation: 1s loading linear infinite;
        }
    }
    &:hover {
        background: var(--primary-dark-color);
    }
}
