.button {
  display: flex;
  justify-content: center;
  padding: toRem(8) toRem(16);
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 800;
  border-radius: $smallRadius;
  transition: 0.3s;
  &:hover {
    background: #3b6bba;
  }
  &_active {
    background: #4c8bf7;
  }
  &_inactive {
    background: #fcfcfc;
  }
}